:root {
  --username-fsize: 1.8rem;

  --fg-color: #eee;
  --fg2-color: #aaa;
  --fg3-color: #666;

  --bg-color: #121212;
  --bg2-color: #242428;
  --bg3-color: #404040;

  --reject-color: hsl(348, 70%, 28%);
  --reject2-color: hsl(348, 70%, 20%);

  --sb-label-size: .9rem;

  --header-bg-color: #0a0a0a;

  --chatarea-bg-color: var(--bg2-color);

  --message-fsize: 1rem;
  --msg-fg-color: white;
  --incoming-msg-color: #333333;
  --outgoing-msg-color: #183eb0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  flex-direction: rows;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

  min-height: 100vh;
}


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 20%;
  min-width: 14rem;
  height: 100vh;
  color: var(--fg-color);
  background-color: var(--bg2-color);

  border-right: 1px solid var(--fg3-color);
  z-index: 2;
}

.sb-header {
  display: flex;

  min-height: 6rem;
  background-image: url("../Res/Images/pawel-czerwinski-RmhsidgK4JU-unsplash.jpg");
  background-size: 100% 100%;
}


.sb-toggle {
  display: none;

  position: absolute;
  top: 1.2rem;
  right: .4rem;

  width: 1.6rem;
  height: 1.6rem;

  z-index: 10;

  background-image: url("../Res/icons/angle-up.svg");
  filter: invert(1);
  background-size: contain;
}

.sb-toggle:hover {
  cursor: pointer;
}

#username-heading {
  padding: 10px;
  font-size: var(--username-fsize);
  font-weight: bold;
  font-style: italic;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sb-section {
  margin-top: 2rem;
  padding: 2px 4px;
}

.sb-line {
  margin: 2px 0;
  height: 1px;
  width: 100%;
  background-color: var(--fg3-color);
}

.sb-label {
  color: var(--fg2-color);
  margin: 5px 0;
  font-size: var(--sb-label-size);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 .5rem;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;

  margin: .1rem 0;
  padding: .5rem;
}

.contact:hover {
  cursor: pointer;
  background-color: var(--bg2-color);
}

.contact:active {
  background-color: var(--reject-color);
}


.contacts .selected-cont {
  background-color: var(--bg3-color);
}

.icon-img {
  filter: invert(1);
  width: 1.2rem;
}

.contact p {
  margin: 0;
}


/* Footer */
.sb-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 10px 4px;
  min-height: 4rem;
}

#logout-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;

  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--reject-color);
  border-radius: 8px;
}

#logout-btn:hover {
  cursor: pointer;
}


/* ------- Chat AREA ------- */
.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

.chat-body {
  height: 92vh;

  background-image: url("../Res/Images/batman1_1600px.jpg");
  /* background-image: url("../Res/Images/batman2_1600px.jpg"); */
  background-size: cover;
  background-position: center center;
  background-color: var(--chatarea-bg-color);
}

/* Chat Header */
.chat-header {
  display: flex;
  align-items: center;

  height: 4rem;

  color: var(--fg-color);

  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--fg2-color);
}

.chat-header .prof-image {
  margin: 0 6px;
  height: 90%;
  border-radius: 6px;
}

.chat-header .header-title {
  padding: 10px;
  font-size: 1.5rem;
}


/* Messages */
.messages {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: auto;

  padding: 10px 20px;

  border-radius: 0 0 10px 10px;
}

.message {
  display: flex;
  flex-direction: column;

  margin: 8px;
  padding: 8px 4px;
  width: fit-content;
  max-width: 80%;

  color: var(--fg-color);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.msg-sender {
  color: var(--fg2-color);
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.msg-content {
  font-size: var(--message-fsize);
  margin: 2px 10px;
}

.msg-time {
  align-self: right;
  margin-top: .4rem;
  text-align: right;
  font-size: 0.78rem;
}

.incoming-msg {
  background-color: var(--incoming-msg-color);
}

.outgoing-msg {
  background-color: var(--outgoing-msg-color);
  margin-left: auto;
}

/* Sender Bar */

.sender-bar {
  z-index: 1;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  background-color: var(--bg-color);
}

#sender-field {
  padding: 5px;
  width: 82%;
  height: 3rem;

  color: var(--fg-color);
  background: none;

  border: 2px solid var(--fg3-color);
  border-radius: 10px;
}

#sender-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;

  height: 100%;
  width: 15%;
  max-width: 4rem;
}

#sender-btn:hover {
  cursor: pointer;
}

#sender-btn:active {
  transform: scale(0.9);
}

#sender-btn img {
  width: 1.6rem;
}


/* Media Queries */

@media (max-width: 768px) {
  .sb-toggle {
    display: block;
  }

  .sidebar {
    position: absolute;
    width: 100%;

    background-color: #121218cd;
    backdrop-filter: blur(4px);

    transition: .08s ease-in-out;
  }

  .sidebar[data-expanded="false"] {
    transform: translateY(-100%);
    transition: .1s ease-in-out;
  }

  #username-heading {
    /* text-align: center; */
    font-size: 2.4rem;
    padding: 1.4rem;
  }

  .contacts {
    margin: 0 2rem;
  }

  .contact {
    margin: .2rem 0;
    padding: .8rem;
  }
}