:root {
  --username-fsize: 1.8rem;

  --fg-color: #eee;
  --fg2-color: #aaa;
  --fg3-color: #666;

  --bg-color: #121212;
  --bg2-color: #242428;
  --bg3-color: #404040;

  --reject-color: hsl(348, 70%, 28%);
  --reject2-color: hsl(348, 70%, 20%);

  --sb-label-size: .9rem;

  --header-bg-color: #0a0a0a;

  --chatarea-bg-color: var(--bg2-color);

  --message-fsize: 1rem;
  --msg-fg-color: white;
  --incoming-msg-color: #333333;
  --outgoing-msg-color: #183eb0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  flex-direction: rows;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

  min-height: 100vh;
}


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 12rem;
  width: 20%;
  height: 100vh;

  color: var(--fg-color);
  background-color: var(--bg2-color);
}

.sb-header {
  display: flex;
  align-items: center;
  flex-direction: row;

  height: 6rem;
  background-image: url("../Res/Images/pawel-czerwinski-RmhsidgK4JU-unsplash.jpg");
  background-size: 100% 100%;
}

#username-heading {
  padding: 10px;
  font-size: var(--username-fsize);
  font-weight: bold;
  font-style: italic;

  width: 100%;
  height: 100%;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 90%;
}

.sb-section {
  margin: 20px 0;
  padding: 2px 8px;
}

.sb-line {
  margin: 2px 0;
  height: 1px;
  width: 100%;
  background-color: var(--fg3-color);
}

.sb-label {
  color: var(--fg2-color);
  margin: 5px 0;
  font-size: var(--sb-label-size);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  padding: 5px;
}

.contact:hover {
  cursor: pointer;
  background-color: var(--bg2-color);
}

.contacts .selected-cont {
  background-color: var(--bg3-color);
}

.icon-img {
  filter: invert(1);
  width: 1.2rem;
}

.contact p {
  margin: 0;
}


/* Footer */
.sb-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 10px 4px;
  height: 4rem;
}

#logout-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;

  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--reject-color);
  border-radius: 10px;
  transition: .1s;
}

#logout-btn:hover {
  cursor: pointer;
  background-color: var(--reject2-color);
  transition: .05s;
}



/* ------- Chat AREA ------- */
.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80%;
  height: 100%;
}

.chat-body {
  height: 92vh;

  background-image: url("../Res/Images/batman1_1600px.jpg");
  /* background-image: url("../Res/Images/batman2_1600px.jpg"); */
  background-size: cover;
  background-position: center center;
  background-color: var(--chatarea-bg-color);
}

/* Chat Header */
.chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 4rem;

  color: var(--fg-color);

  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--fg2-color);
}

.sb-collapser {
  display: none;
}

.sb-collapser:hover {
  cursor: pointer;
}

.chat-header .prof-image {
  margin: 0 6px;
  height: 90%;
  border-radius: 10px;
}

.chat-header .header-title {
  /* text-align: center; */
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
}

/* Messages */
.messages {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: auto;

  padding: 10px 20px;

  border-radius: 0 0 10px 10px;
}

.message {
  display: flex;
  flex-direction: column;

  margin: 8px;
  padding: 8px 4px;
  width: fit-content;
  max-width: 80%;

  color: var(--fg-color);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.msg-sender {
  color: var(--fg2-color);
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.msg-content {
  font-size: var(--message-fsize);
  margin: 2px 10px;
}

.msg-time {
  align-self: right;
  margin-top: .4rem;
  text-align: right;
  font-size: 0.78rem;
}

.incoming-msg {
  background-color: var(--incoming-msg-color);
}

.outgoing-msg {
  background-color: var(--outgoing-msg-color);
  margin-left: auto;
}

/* Sender Bar */

.sender-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
  min-height: 8vh;

  justify-content: space-around;

  background-color: var(--bg-color);
}

#sender-field {
  padding: 5px;
  width: 82%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid var(--fg3-color);
  color: var(--fg-color);
  background: none;
}

#sender-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;

  height: 100%;
  width: 15%;
  max-width: 4rem;
}

#sender-btn:hover {
  cursor: pointer;
}

#sender-btn:active {
  transform: scale(0.9);
}

#sender-btn img {
  width: 1.6rem;
}



/* Media Queries */

@media screen and (max-width: 768px) {

  body {
    flex-direction: column;
  }

  .sb-collapser {    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #181818a3;
    backdrop-filter: blur(4px);
    font-weight: bolder;
    font-size: 1.5rem;
  
    height: 100%;
    width: 2rem;
  }

  /* Sidebar */
  .sidebar {
    display: none;
    width: 100%;
    height: 100%;
  }

  .sidebar-header {
    min-height: 2rem;
    height: 2rem;
  }

  .sb-mobile {
    position: absolute;
    width: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);
    color: var(--fg-color);
    width: 100%;
    z-index: 1;
  }

  /* Chat Area */
  .chat-area {
    width: 100%;
    height: 100%;
  }

}